<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld1" class="org.springBased.Student" autowire="constructor">
        <constructor-arg index="0" value="22"/>
        <constructor-arg index="1" value="100"/>
        <constructor-arg index="2" ref="writer"/>
    </bean>

    <bean id="helloWorld2" class="org.springBased.Student" autowire="byType">
<!--        <property name="age" value="25"/>-->
<!--        <property name="rollNo" value="101"/>-->
<!--        <property name="pen" ref="p1"/>-->

        <!--
        <property name="writer" ref="pc1"/>
        these two property are consider like
        Writer writer = new Pencil();
        Writer writer = new Pen();
        Interface type receiving the Impl object
        -->
<!--   <property name="writer" ref="p1"/>-->
    </bean>

    <!-- autowire="byName" If the writer id is missing.
    NullPointerException = Cannot invoke "org.springBased.Writer.write()" because "this.writer" is null

    autowire="byType" If we failed to maintain unique id.
    org.springframework.beans.factory.NoUniqueBeanDefinitionException: No qualifying bean of type 'org.springBased.Writer' available:
    expected single matching bean but found 3: writer,p1,pc1

    To avoid this exception we can use primary="true" in one of the bean definition
    -->
    <bean id="writer" class="org.springBased.Pen" primary="true">
    </bean>

    <bean id="p1" class="org.springBased.Pen">
    </bean>

    <bean id="pc1" class="org.springBased.Pencil">

    </bean>

</beans>